.logorsign-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("gaming-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
