.header-wrapper {
  background: black;
  width: 100%;
}

.header-nav nav > ul {
  display: flex;
  justify-content: center;
}

.header-nav nav > ul > li {
  padding: 0px 20px 0px 20px;
}

.header-nav nav > ul > li a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

.header-message {
  width: fit-content;
  color: white;
}

.header-nav {
  width: fit-content;
}

.header-inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .header-inner-container {
    display: flex;
    flex-direction: column;
  }
}
